<form action='/events/create' method='post'>
	<label>Event name</label><input type='text' name='title' placeholder='Big event bash'><br>
	<label>Event date</label><input id='datepicker' type='text' name='date' placeholder='2013-01-22'/><br>
	<label>Organizer name</label><input type='text' name='organizer_name' placeholder='JH Hoogstadt'/><br>
	<label>Organizer email</label><input type='text' name='organizer_email' placeholder='steel@bod.com'/><br>
	<input type='submit' name='submit'/>
</form>